body {
    background-image: url(images/traderjoesbackground.png);
    font-family: "Lora", "Times New Roman", "Times", serif;
    font-size: 18px;
    font-weight:500;
}

#main {
    display: flex;
    flex-wrap:wrap;
}

h1 {
    color: #ca1e21;
    font-weight: 700;
    text-shadow: 1px 1px 2px;
}

h2 {
    background-color: #ca1e21;
    border-radius: 10px;
    padding: 0px 6px 6px 8px;
    color: #e8be8c;
}

.splashPic {
    flex: 1;
    text-align: center;
    position:relative;
    top: 25px;
    margin-bottom: 20px;
}

.splashPic img {
    border-radius: 20px;
    width: 400px;
    height: auto;
}

.content {
    flex: 2;
    text-align: left;
    position:relative;
    margin: 0px 30px 0px 30px;
}

.recipeList li {
    list-style-type: none;
    width: 200px;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 10px 0px;
    background-color: #ca1e21;
    text-align:center;
    border-radius:5px;
}

a {
    color:#e8be8c;
    text-decoration: none;
    background-color: #ca1e21;
    padding: 5px 5px 5px 5px;
    border-radius:10px;
}

a:hover {
    text-decoration: underline;
}

#return {
    position: fixed;
    top: 30px;
    right: 20px;
}

img { 
    border-radius: 20px;
}